src/Tmende/Dhl/Api/WSDL/standortsuche-api-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://postfinder.dpag.de/webservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://postfinder.dpag.de/webservice" name="WebServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://postfinder.dpag.de/webservice" schemaLocation="http://standorte.deutschepost.de:80/webservice/?xsd=1"/>
</xsd:schema>
</types>
<message name="getPackstationsByAddress">
<part name="parameters" element="tns:getPackstationsByAddress"/>
</message>
<message name="getPackstationsByAddressResponse">
<part name="parameters" element="tns:getPackstationsByAddressResponse"/>
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceException"/>
</message>
<message name="getPackstationsPaketboxesByAddress">
<part name="parameters" element="tns:getPackstationsPaketboxesByAddress"/>
</message>
<message name="getPackstationsPaketboxesByAddressResponse">
<part name="parameters" element="tns:getPackstationsPaketboxesByAddressResponse"/>
</message>
<message name="getPaketboxesByAddress">
<part name="parameters" element="tns:getPaketboxesByAddress"/>
</message>
<message name="getPaketboxesByAddressResponse">
<part name="parameters" element="tns:getPaketboxesByAddressResponse"/>
</message>
<message name="getPackstationsFilialeDirektByAddress">
<part name="parameters" element="tns:getPackstationsFilialeDirektByAddress"/>
</message>
<message name="getPackstationsFilialeDirektByAddressResponse">
<part name="parameters" element="tns:getPackstationsFilialeDirektByAddressResponse"/>
</message>
<message name="getBranchesByAddress">
<part name="parameters" element="tns:getBranchesByAddress"/>
</message>
<message name="getBranchesByAddressResponse">
<part name="parameters" element="tns:getBranchesByAddressResponse"/>
</message>
<portType name="WebServiceImpl">
<operation name="getPackstationsByAddress">
<input message="tns:getPackstationsByAddress"/>
<output message="tns:getPackstationsByAddressResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getPackstationsPaketboxesByAddress">
<input message="tns:getPackstationsPaketboxesByAddress"/>
<output message="tns:getPackstationsPaketboxesByAddressResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getPaketboxesByAddress">
<input message="tns:getPaketboxesByAddress"/>
<output message="tns:getPaketboxesByAddressResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getPackstationsFilialeDirektByAddress">
<input message="tns:getPackstationsFilialeDirektByAddress"/>
<output message="tns:getPackstationsFilialeDirektByAddressResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getBranchesByAddress">
<input message="tns:getBranchesByAddress"/>
<output message="tns:getBranchesByAddressResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
</portType>
<binding name="WebServiceImplPortBinding" type="tns:WebServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPackstationsByAddress">
<soap:operation soapAction="getPackstationsByAddress"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getPackstationsPaketboxesByAddress">
<soap:operation soapAction="getPackstationsPaketboxesByAddress"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getPaketboxesByAddress">
<soap:operation soapAction="getPaketboxesByAddress"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getPackstationsFilialeDirektByAddress">
<soap:operation soapAction="getPackstationsFilialeDirektByAddress"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getBranchesByAddress">
<soap:operation soapAction="getBranchesByAddress"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebServiceImplService">
<port name="WebServiceImplPort" binding="tns:WebServiceImplPortBinding">
<soap:address location="https://cig.dhl.de/services/production/soap"/>
</port>
</service>
</definitions>